<!DOCTYP html >
<html>
<head>
<title>Nachrichten-Startseite</title>
</head>

<body style="background-color:powderblue;">

<form action="http://localhost:8000/Blog/Nachricht/Autorisieren">
    <input type="submit" value="Nachrichten Lesen">
</form>
<form action="http://localhost:8000/Blog/Nachricht/new">
    <input type="submit" value="Nachrichten schreiben">
</form>
<form action="http://localhost:8000/Blog">
    <input type="submit" value="zurueck zur Startseite">
</form>
<form action="http://localhost:8000/Blog/Nachricht/Account">
    <input type="submit" value="neuen Account erstellen">

</form>
</body>